.box{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    border: 2px solid rgb(0, 136, 255);
    width: 245px;
}


.box > div{
    border: 2px solid rgb(0, 136, 255);
    background-color: rgb(159, 210, 255);
    padding: 20px;
    border-radius: 5px 5px 5px 5px;

}

.one{
    width: 200px;
}

.selected{
    margin-left: 60px;
}