body{
    background-color: aliceblue;
}

.flex-box{
    margin: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
    row-gap: 50px;
    column-gap: 50px;
}


.flip-card {
  background-color: transparent;
  width: 300px;
  height: 500px;
  perspective: 1000px;
  
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: rgb(255, 255, 255);
  color: black;
  display: flex;
  display: flex;
flex-direction: column;
flex-wrap: nowrap;
justify-content: flex-start;
align-items: center;
align-content: flex-start;
}

.flip-card-front p{
    margin-top: 25px;
    color: gray;
    font-size: 21px;
}

.flip-card-back {
    background-color: #ff8800;
    color: white;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: flex-start;
}

.dwa .flip-card-back{
    background-color: #0059ff;
    color: white;
    transform: rotateY(180deg);
}

.trzy .flip-card-back{
    background-color: #07d400;
    color: white;
    transform: rotateY(180deg);
}

.flip-card-back p{
    font-size: 50px;
    margin-top: 20%;
}

.flip-card-back h1{
    font-size: 18px;
}

.rezerwacja{
    margin: auto;
    width: 75%;
    padding-left: 10px;
    font-size: 24px;
    border-radius: 50px;
    padding: 20px;
    color: gray;
    background-color: white;
}

.rezerwacja:hover{
    -webkit-box-shadow: -8px 8px 24px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: -8px 8px 24px 0px rgba(66, 68, 90, 1);
    box-shadow: -8px 8px 24px 0px rgba(66, 68, 90, 1);
}

.cena{
    margin-top: 30%;
}

img{
    clip-path: polygon(0 0, 100% 0, 100% 81%, 0% 100%);
    object-fit: cover;
    width: 300px;
    height: 200px;
    opacity: 50%;
    background-color: #ff8800;
}

.img1{
    width: 300px;
    height: 200px;
    clip-path: polygon(0 0, 100% 0, 100% 81%, 0% 100%);
}

h2{
    color: white;
    opacity: 60%;
    margin: 10px;
    padding: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin: 0px;
    float: right;
    position: relative;
    top: 80px;
    margin-right: 5px;

}

.jeden h2{
    background-color: #ff8800;
}

.dwa h2{
    background-color: #0059ff;
}

.trzy h2{
    background-color:#07d400 ;
}
