#flex{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
}

#blue{
    background-color: rgb(0, 110, 255);
    width: 200px;
    height: 200px;
    text-align: center;
    font-size: 30px;
    margin: auto;
    position: relative;
}

#red{
    background-color: rgb(255, 34, 34);
    width: 140px;
    height: 140px;
    text-align: center;
    font-size: 30px;
    margin: auto;

}

#yellow{
    background-color: rgb(255, 252, 71);
    width: 90px;
    height: 90px;
    text-align: center;
    font-size: 30px;
    margin: auto;
}

#przyciski, #licznik{
    margin-top: 20px;
}

#komunikaty{
    width: 400px;
    height: auto;
    position: absolute;
    top: 10px;
}

@media (max-width: 900px) {
    #komunikaty{
        padding-top: 50px;
        text-align: center;
        position: relative;
        margin: auto;
    }
}