#one{
    width: 400px; height:300px; border: 2px solid red;
    display: block;
}

#two{
    width: 400px; height:300px; border: 2px solid blue;

    display: none;
}

#three{
    width: 400px; height:300px; border: 2px solid green;

    display: none;
}