body,html{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
    background-color: rgb(156, 156, 156);
    height: 120%;
}

.sec-bg{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 65%;
    width: 100%;
    background-color: white;
    border-radius: 5px;
}

.bg-of-video{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 97.5%;
    height: 95%;
    background-color: rgb(22, 22, 92);
    border-radius: 5px;
}

.left-corner{
    position: absolute;
    top: 40px;
    left: 40px;
    height: 20%;

}

.left-corner img{
    border-radius: 5px;
}

img{
    height: 100%;
    
}
#men{
    object-fit: cover;
    width: 500px;
}

.icons{
    position: absolute;
    bottom: 5em;
    width: 15%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    column-gap: 20px;
    align-items: flex-start;
    align-content: flex-start;
}

#mic{
    color: rgb(0, 153, 255);
    border-radius: 150px 150px 150px 150px;
    background-color: white;
    padding: 5px;
}

#videocam{
    color: rgb(0, 153, 255);
    border-radius: 150px 150px 150px 150px;
    background-color: white;
    padding: 5px;
}

#call_end{
    color: rgb(255, 255, 255);
    border-radius: 150px 150px 150px 150px;
    background-color: red;
    padding: 5px;
}

.sound{
    width: 17.5px;
    height: 90px;
    border-radius: 150px;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: flex-start;
    position: absolute;
    bottom: 70px;
    left: 40px;
}

.white{
    width: 7.5px;
    height: 7.5px;
    border-radius: 150px;
    background-color: rgb(153, 153, 153);
}

.red{
    width: 7.5px;
    height: 7.5px;
    border-radius: 150px;
    background-color: rgb(14, 139, 255);
}

@media (max-width: 700px) {
    body{
        margin: 0px;
    }

    .sec-bg{
        border-radius: 0px;
    }

    img{  
        border-radius: 5px;
        width: 100%;
        max-height: auto;
    }

    #men{
        width: 100%;
        border-radius: 5px;
    }

    .bg-of-video{
        background-color: blueviolet;
    }
}